// Estilos generales y variables 
[data-theme="default-light"] {
    --bg-color: #f5f5f5;
    --text-color: #212121;
    --color-link: rgba(75, 117, 212, 1);
    --color-hover: rgb(6, 196, 158);
    --color-link-alpha: rgba(75, 117, 212, 0.8);
    --color-hover-alpha: rgba(6, 196, 158, 0.8);
    --bg-footer: rgb(207, 216, 220);
    --font-title: "Telex", sans-serif;
}

[data-theme="default-dark"] {
    --bg-color: #0e0f26;
    --text-color: #fffcff;
    --color-link: rgb(106, 149, 249);
    --color-hover: rgba(168, 219, 210, 1);
    --color-link-alpha: rgba(75, 117, 212, 0.8);
    --color-hover-alpha: rgba(168, 219, 210, 0.8);
    --bg-footer: #212121;
    --font-title: "Telex", sans-serif;
}

[data-theme="purple-light"] {
    --bg-color: #f5f5f5;
    --text-color: #212121;
    --color-link: rgb(67, 69, 134);
    --color-hover: rgb(70, 178, 182);
    --color-link-alpha: rgba(67, 69, 134, 0.8);
    --color-hover-alpha: rgba(60, 143, 157, 0.8);
    --bg-footer: rgb(207, 216, 220);
    --font-title: "Telex", sans-serif;
}

[data-theme="purple-dark"] {
    --bg-color: #0e0f26;
    --text-color: #fffcff;
    --color-link: #9a9cea;
    --color-hover: #a2dcee;
    --color-link-alpha: rgba(162, 185, 238, 0.8);
    --color-hover-alpha: rgba(173, 238, 226, 0.8);
    --bg-footer: #212121;
    --font-title: "Telex", sans-serif;
}

[data-theme="gray-light"] {
    --bg-color: #f5f5f5;
    --text-color: #212121;
    --color-link: rgb(67, 112, 139);
    --color-hover: rgb(234, 53, 36);
    --color-link-alpha: rgba(67, 112, 139, 0.8);
    --color-hover-alpha: rgba(231, 47, 30, 0.8);
    --bg-footer: rgb(207, 216, 220);
    --font-title: "Telex", sans-serif;
}

[data-theme="gray-dark"] {
    --bg-color: #0e0f26;
    --text-color: #fffcff;
    --color-link: #78a6c8;
    --color-hover: #e65c4f;
    --color-link-alpha: rgba(100, 166, 208, 0.8);
    --color-hover-alpha: rgba(230, 92, 79, 0.8);
    --bg-footer: #212121;
    --font-title: "Telex", sans-serif;
}

[data-theme="green-light"] {
    --bg-color: #f5f5f5;
    --text-color: #212121;
    --color-link: #4ec1ae;
    --color-hover: #c5a56f;
    --color-link-alpha: rgba(57, 147, 132, 0.8);
    --color-hover-alpha: rgba(204, 173, 118, 0.8);
    --bg-footer: rgb(207, 216, 220);
    --font-title: "Telex", sans-serif;
}

[data-theme="green-dark"] {
    --bg-color: #0e0f26;
    --text-color: #fffcff;
    --color-link: #53d2bd;
    --color-hover: #f6d08d;
    --color-link-alpha: rgba(83, 210, 189, 0.8);
    --color-hover-alpha: rgba(246, 208, 141, 0.8);
    --bg-footer: #212121;
    --font-title: "Telex", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
    transition: background-color .5s;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
nav a {
    font-family: var(--font-title);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: .75rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--color-link);
    cursor: pointer;
}

li {
    list-style: none;
}

canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}


.container {
    max-width: 1440px;
    margin: 0px auto;
    width: 95%;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.align-center {
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.flex-row-xl {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.gsap-animation {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.social-list a {
    transition: all 300ms;
    padding: .5rem .75rem;
    display: block;
    font-size: 1.25rem;

    &:hover {
        color: var(--color-hover);
        transform: scale(1.25);
    }
}

span {
    text-shadow: 0 0 2px var(--color-link), 0 0 5px var(--color-link), 0 0 10px var(--color-link);
    filter: contrast(200%);
    color: #fffcff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding-left: 2.5rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    font-family: var(--font-title);
    font-size: 1rem;
}

textarea {
    padding: .7rem 2rem .7rem 2.5rem;
    resize: none;
}

.contact-form {
    padding-top: 2rem;
    max-width: 500px;
}

.input-group {
    margin: 2rem 0 .5rem 0;

    input {
        height: 50px;
    }

    label,
    span {
        top: .9rem;
        left: 2.5rem;
        color: #555;
        pointer-events: none;
        transition: all .5s;
    }

    span {
        left: .5rem;
        text-shadow: none;
        font-size: 1.25rem;
    }

    input:valid~label,
    input:focus~label,
    textarea:valid~label,
    textarea:focus~label {
        transform: translate(-2.5rem, -2.1rem);
        color: var(--text-color);
    }

    input:valid~span,
    input:focus~span,
    textarea:valid~span,
    textarea:focus~span {
        color: var(--color-link);
    }
}

@mixin base-xl {
    canvas {
        padding-left: 4.1rem;
    }

    main.container {
        padding-left: 4rem;
        width: 100%;
    }
}