// ESTILOS HEADER
.menu {
    padding: 1rem 0;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid var(--color-hover-alpha);
        pointer-events: none;
        animation: borderHeader 1s linear;
    }

    .logo {
        transition: transform 300ms;
        color: var(--text-color);
        animation: fadeIn .5s linear;

        span {
            padding-left: 0.5rem;
        }

        &:hover {
            transform: scale(1.10);
        }

        img {
            max-width: 32px;
        }
    }

    &__hamburguer {
        animation: fadeIn 1s linear;
        order: 3;

        &:hover {
            @include menu-hamburguer-animation;
        }
    }

    &__toggle {
        position: relative;
        width: 5rem;
        height: 35px;
        background: var(--color-link);
        border-radius: 50px;

        & input {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            appearance: none;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 85%;
                background: var(--bg-color);
                filter: invert(1);
                border-radius: 50px;
            }

            &:checked:after {
                transform: translate(50px, -50%);
                opacity: 1;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 25px;
                height: 25px;
                transform: translate(5px, -50%);
                background: var(--color-link);
                border-radius: 50px;
                transition: all 400ms;
                filter: contrast(60%);
                z-index: 5;
            }
        }

        & i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            color: var(--bg-color);
            pointer-events: none;

            &.fa-moon {
                right: 8px;
            }

            &.fa-sun {
                left: 8px;
            }
        }
    }

    &__hamburguer,
    &__close {
        position: relative;
        width: 40px;
        height: 35px;
        padding: 0.2rem;
        cursor: pointer;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            pointer-events: none;
            background-color: var(--bg-color);
            clip-path: polygon(60% 0, 100% 0%, 40% 100%, 0% 100%);
            transform: translate(-100%, -30%);
        }

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--text-color);
            margin-top: 0.3rem;
            transition: all 200ms;
        }
    }

    &__close {
        .btn {
            margin-top: 9rem;
        }

        span {
            margin-top: 0;
        }

        span:first-child {
            rotate: 45deg;
            transform: translate(8px, 9px);
        }

        span:last-child {
            rotate: -45deg;
            transform: translate(-7px, 7px);
        }

        &:hover {
            @include menu-close-animations;
        }
    }

    &__content {
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0%;
        background-color: var(--bg-footer);
        transition: top .5s;
        z-index: 1000;

        .logo {
            pointer-events: none;
        }

        nav {
            text-align: center;
            margin-top: 1rem;

            a {
                font-size: 1.5rem;
                display: block;
                padding: 1.5rem;
            }
        }

        @include menu-content-animations;
    }

    &__header,
    &__footer {
        height: 2rem;
        padding: 1rem 0;
        z-index: 100;
    }

    nav {
        height: calc(100% - 6rem);

        a {
            position: relative;
            transition: color 300ms;

            &:hover {
                color: var(--color-hover);
            }

            &:hover::after {
                width: 100%;
            }
        }

        a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 0%;
            max-width: 8rem;
            transition: width 1s;
            background-color: var(--color-hover);
            transform: translate(-50%, -1rem);
        }
    }

    .social-list a {
        transition: all 300ms;
        padding: .5rem .75rem;
        display: block;

        &:hover {
            color: var(--color-hover);
            transform: scale(1.25);
        }
    }

    &__toggle {
        animation: fadeIn 1.25s linear;

        span {
            background-color: var(--text-color);
            color: var(--bg-color);
            font-weight: 700;
            font-size: 0.9rem;
            width: 210px;
            text-align: center;
            padding: .5rem 1rem;
            border-radius: .25rem;
            position: absolute;
            left: -50%;
            top: 150%;
            cursor: pointer;
            animation: toBottom 2s linear;

            &::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: 35%;
                top: -90%;
                border-right: 1rem solid transparent;
                border-top: 1rem solid transparent;
                border-left: 1rem solid transparent;
                border-bottom: 1rem solid var(--text-color);
            }

            &.hide {
                visibility: hidden;
            }
        }
    }

    .btn-toggle {
        padding: 10px;
        margin-left: 30px;
        cursor: pointer;
        animation: fadeIn 1.5s linear;
    }

    &__colour-variations i {
        font-size: 1.75rem;
    }

    &__preset-colors {
        top: 40px;
        width: 95%;
        left: 0;
        color: #fff;
        background: #555;
        padding: 10px;
        opacity: 0;
        border-radius: 5px;
        -webkit-transition: all 500ms;
        transition: all 500ms;
        visibility: hidden;

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__preset-colors li {
        display: block;
        float: left;
        margin-bottom: 5px;
        width: 100%;
        cursor: pointer;
    }

    &__preset-colors span {
        width: 50%;
        height: 20px;
        float: left;
        zoom: 1;
        border-radius: 2px 0px 0px 2px;
    }


}


// ESTILOS MENU PANTALLAS > 1200px
@mixin menu-xl {
    .menu {
        width: 4rem;
        height: 100%;
        border-bottom: none;

        .btn-secondary {
            padding: 1rem 1.5rem;

        }

        &::before {
            top: 0;
            height: 100%;
            border-right: 1px solid var(--color-hover-alpha);
            border-bottom: none;
            animation: borderHeader-xl 1s linear;
        }

        &>.container {
            height: 100%;
        }

        &__hamburguer {
            padding: 0;
            order: 0;
        }

        &__content {
            left: -100%;
            top: 0%;
            transition: left .5s;

            &.visible {
                left: 0%;
                animation: menuContentVisible-xl .5s linear;
            }

            nav {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    font-size: 2rem;
                }
            }
        }

        nav a::after {
            max-width: 10rem;
            transition: width .5s;
        }

        .social-list a {
            padding: 0 1rem;
            font-size: 1.25rem;
        }

        &__toggle {
            width: 35px;
            height: 4.5rem;

            & input {
                &:before {
                    width: 80%;
                    height: 90%;
                }

                &:checked:after {
                    transform: translate(5px, 135%);
                }

                &:after {
                    top: 12%;
                    transform: translate(5px, -12%);
                }
            }

            & i {
                transform: translateX(0%);

                &.fa-moon {
                    right: 8px;
                    top: 2.75rem;
                }

                &.fa-sun {
                    left: 7px;
                    top: 8px;
                }
            }

            span {
                left: 150%;
                top: 25%;
                animation: toRight 2s linear;

                &::after {
                    left: -5%;
                    top: 0%;
                    border-right: 2rem solid var(--text-color);
                    border-top: 1rem solid transparent;
                    border-bottom: 1rem solid transparent;
                    border-left: 0;
                }

                &.hide {
                    visibility: hidden;
                }
            }
        }

        .btn-toggle {
            display: block;
            margin-top: .5rem;
            margin-left: 0;
        }

        .settings {
            flex-basis: 10%;
        }

        .menu__preset-colors {
            top: 0px;
            left: 100%;
            width: 140px;
            transition: all 500ms;
            visibility: hidden;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &__preset-colors.show {
            top: 0;
            left: 120%;
            width: 150px;
        }
    }
}