doctype html
html(lang="es" data-theme="default-dark")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Portafolio de Marcos Rubí")
        meta(property="og:description" content="Técnico en sistemas operativos y redes. Estudiante de quinto año en ingeniería de sistemas y redes")
        meta(property="og:image" content="images/og_image.webp")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property="og:url" content="https://mrubi.vercel.app/")
        meta(property="og:site_name" content="Portafolio de Marcos Rubí")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:creator" content="@Fuhrer_RD")
        meta(name="description" content="Portafolio personal de Marcos Rubí. Técnico en sistemas operativos y redes. Estudiante de último año en ingeniería de sistemas y redes")
        meta(name="keywords" content="Portafolio, Marcos Rubi, Técnico, ingeniero, sistemas, desarrollador web, programador, frontend, front-end, developer, web developer, maquetador web")
        meta(name="author" content="Marcos Rubí")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        title Portafolio | Marcos Rubí
        link(rel="stylesheet", href="css/main.css")
    body 
        header(class="menu p-fixed")
            div(class="container")
                div(class="d-flex align-center jc-between flex-column-xl")
                    a(href="#" class="logo")
                        img(src="images/logo.webp", alt="Logo de Marcos Rubí" class="d-flex")
                    div(class="menu__hamburguer")
                        span(class="line")
                        span(class="line")
                        span(class="line")
                    div(class="menu__content")
                        div(class="menu__header d-flex align-center jc-between container")
                            a(href="#" class="logo d-flex align-center")
                                img(src="images/logo.webp", alt="Logo de Marcos Rubí" class="d-flex")
                                span Marcos Rubí
                            div(class="menu__close")
                                span(class="line")
                                span(class="line")
        script(src="js/scripts.js") 