doctype html
html(lang="es" data-theme="")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Portafolio de Marcos Rubí")
        meta(property="og:description" content="Técnico en sistemas operativos y redes. Estudiante de quinto año en ingeniería de sistemas y redes")
        meta(property="og:image" content="images/og_image.webp")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property="og:url" content="https://mrubi.vercel.app/")
        meta(property="og:site_name" content="Portafolio de Marcos Rubí")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:creator" content="@Fuhrer_RD")
        meta(name="description" content="Portafolio personal de Marcos Rubí. Técnico en sistemas operativos y redes. Estudiante de último año en ingeniería de sistemas y redes")
        meta(name="keywords" content="Portafolio, Marcos Rubi, Técnico, ingeniero, sistemas, desarrollador web, programador, frontend, front-end, developer, web developer, maquetador web")
        meta(name="author" content="Marcos Rubí")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        title Portafolio | Marcos Rubí
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link async="" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;family=Telex&amp;display=swap" rel="stylesheet" crossorigin="anonymous">
        script(src="https://kit.fontawesome.com/87b8bff04b.js" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
    body 
        header(class="menu p-fixed full-width")
            div(class="container")
                div(class="d-flex align-center jc-between flex-column-xl")
                    a(href="#" class="logo")
                        img(src="images/logo.webp" alt="Logo de Marcos Rubí" class="d-flex")
                    div(class="menu__hamburguer p-relative")
                        span(class="line full-width")
                        span(class="line full-width")
                        span(class="line full-width")
                    div(class="menu__content full-width")
                        div(class="menu__header d-flex align-center jc-between container")
                            div(class="logo d-flex align-center")
                                img(src="images/logo.webp" alt="Logo de Marcos Rubí" class="d-flex")
                                span Marcos Rubí
                            div(class="menu__close btn p-relative")
                                span(class="line full-width")
                                span(class="line full-width")
                        nav
                            ul(class="d-flex align-center flex-row-xl") 
                                li
                                    a(href="#" class="p-relative gsap-animation") Sobre Mí
                                li
                                    a(href="#" class="p-relative gsap-animation") Proyectos
                                li
                                    a(href="#" class="p-relative gsap-animation") Experiencia
                                li
                                    a(href="#" class="p-relative gsap-animation") Certificados
                                li
                                    a(href="#" class="p-relative gsap-animation") Contactar
                        div(class="menu__footer container d-flex align-center jc-between")
                            a(href="#" class="btn btn-secondary"): span Enviar Correo 
                            ul(class="d-flex align-center social-list")
                                li
                                    a: i(class="fab fa-linkedin-in")
                                li
                                    a: i(class="fa fa-facebook-f")
                                li
                                    a: i(class="fa fa-twitter")
                                li
                                    a: i(class="fa fa-instagram")
                    div(class="d-flex align-center flex-column-xl p-relative settings")
                        div(class="menu__toggle p-relative")
                            input(type="checkbox" name="toggle-theme" id="toggle-theme" class="full-width")
                            i(class="fa fa-moon p-absolute" aria-hidden="true")
                            i(class="fa fa-sun p-absolute" aria-hidden="true")
                            span(class="p-absolute hide")
                        div(class="menu__colour-variations")
                            a(class="btn-toggle" id="btn-colors"): i(class="fas fa-cog" aria-hidden="true")
                            div(class="menu__preset-colors p-absolute")
                                h3 Seleccione el tema
                                ul(class="menu__list-theme")
                                    li(class="full-width")
                                        div(onclick="javascript:changeTheme('default');")
                                            span(class="theme-color" style="background:#3959a2;")
                                            span(class="theme-color" style="background:#a8dbd2;")
                                    li(class="full-width") 
                                        div(onclick="javascript:changeTheme('purple');")
                                            span(class="theme-color" style="background:#9A9CEA;")
                                            span(class="theme-color" style="background:#A2DCEE;")
                                    li(class="full-width") 
                                        div(onclick="javascript:changeTheme('gray');")
                                            span(class="theme-color" style="background:#78A6C8;")
                                            span(class="theme-color" style="background:#E65C4F;")
                                    li(class="full-width") 
                                        div(onclick="javascript:changeTheme('green');")
                                            span(class="theme-color" style="background:#53D2B2;")
                                            span(class="theme-color" style="background:#FFE3B3;")
        section(class="banner")
            div(class="banner__content")
                h1(class="gsap-animation") Hola, soy
                    span &nbsp;Marcos Rubí
                p Técnico en redes y sistemas operativos, actualmente estudiante de último año en ingeniería de sistemas y redes.
                a(href="#" class="btn btn-banner")
                    span Descargar CV
                    i(class="fa fa-download")
        main
            canvas(width="100" height="100" id="effectMatrix")
            footer
                div(class="d-flex flex-row-xl jc-center p-relative container-footer")
                    div(class="left")
                        h2(class="gsap-animation") Listo para 
                            span contactar?
                        button(class="btn btn-primary" id="show-contact"): span Enviar Correo
                        ul(class="d-flex align-center social-list")
                                li
                                    a: i(class="fab fa-linkedin-in")
                                li
                                    a: i(class="fa fa-facebook-f")
                                li
                                    a: i(class="fa fa-twitter")
                                li
                                    a: i(class="fa fa-instagram")
                    div(class="right")
                        div(class="repositories")
                            h2(class="gsap-animation"): span Repositorios
                            div(class="repositories__item d-flex")
                                div: i(class="fa fa-github")
                                div
                                    span(class="d-block") GitHub
                                    a(href="#") Visitar 
                            div(class="repositories__item d-flex")
                                div: i(class="fa fa-code")
                                div
                                    span(class="d-block") Frontend Mentor
                                    a(href="#") Visitar 
                            div(class="repositories__item d-flex")
                                div: i(class="fa fa-codepen")
                                div
                                    span(class="d-block") Codepen
                                    a(href="#") Visitar
                        div(class="contact-form")
                            h2(class="gsap-animation"): span Enviar Correo
                            form(action="#", method="post")
                                div(class="input-group p-relative")
                                    input(type="text", name="txtName" id="txtName" required="required")
                                    label(for="txtName" class="p-absolute") Nombre
                                    span(class="p-absolute"): i(class="fa fa-user")
                                div(class="input-group p-relative")
                                    input(type="email", name="txtEmail" id="txtEmail" required="required")
                                    label(for="txtEmail" class="p-absolute") Email
                                    span(class="p-absolute"): i(class="fa fa-envelope")
                                div(class="input-group p-relative")
                                    textarea(name="txtMessage", cols="30", rows="5" required="required")
                                    label(for="txtMessage" class="p-absolute") Mensaje
                                    span(class="p-absolute"): i(class="fa fa-comment")
                                button(type="submit" class="btn btn-primary"): span Enviar Mensaje 
        script(src="https://unpkg.com/split-type") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="js/scripts.js") 