[data-theme=default-light] {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --color-link: rgba(75, 117, 212, 1);
  --color-hover: rgb(6, 196, 158);
  --color-link-alpha: rgba(75, 117, 212, 0.8);
  --color-hover-alpha: rgba(6, 196, 158, 0.8);
  --bg-footer: rgb(207, 216, 220);
  --font-title: "Telex", sans-serif;
}

[data-theme=default-dark] {
  --bg-color: #0e0f26;
  --text-color: #fffcff;
  --color-link: rgb(106, 149, 249);
  --color-hover: rgba(168, 219, 210, 1);
  --color-link-alpha: rgba(75, 117, 212, 0.8);
  --color-hover-alpha: rgba(168, 219, 210, 0.8);
  --bg-footer: #212121;
  --font-title: "Telex", sans-serif;
}

[data-theme=purple-light] {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --color-link: rgb(67, 69, 134);
  --color-hover: rgb(70, 178, 182);
  --color-link-alpha: rgba(67, 69, 134, 0.8);
  --color-hover-alpha: rgba(60, 143, 157, 0.8);
  --bg-footer: rgb(207, 216, 220);
  --font-title: "Telex", sans-serif;
}

[data-theme=purple-dark] {
  --bg-color: #0e0f26;
  --text-color: #fffcff;
  --color-link: #9a9cea;
  --color-hover: #a2dcee;
  --color-link-alpha: rgba(162, 185, 238, 0.8);
  --color-hover-alpha: rgba(173, 238, 226, 0.8);
  --bg-footer: #212121;
  --font-title: "Telex", sans-serif;
}

[data-theme=gray-light] {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --color-link: rgba(43, 71, 89, 1);
  --color-hover: rgb(234, 53, 36);
  --color-link-alpha: rgba(21, 47, 62, 0.8);
  --color-hover-alpha: rgba(231, 47, 30, 0.8);
  --bg-footer: rgb(207, 216, 220);
  --font-title: "Telex", sans-serif;
}

[data-theme=gray-dark] {
  --bg-color: #0e0f26;
  --text-color: #fffcff;
  --color-link: #78a6c8;
  --color-hover: #e65c4f;
  --color-link-alpha: rgba(100, 166, 208, 0.8);
  --color-hover-alpha: rgba(230, 92, 79, 0.8);
  --bg-footer: #212121;
  --font-title: "Telex", sans-serif;
}

[data-theme=green-light] {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --color-link: #4ec1ae;
  --color-hover: #c5a56f;
  --color-link-alpha: rgba(57, 147, 132, 0.8);
  --color-hover-alpha: rgba(204, 173, 118, 0.8);
  --bg-footer: rgb(207, 216, 220);
  --font-title: "Telex", sans-serif;
}

[data-theme=green-dark] {
  --bg-color: #0e0f26;
  --text-color: #fffcff;
  --color-link: #53d2bd;
  --color-hover: #f6d08d;
  --color-link-alpha: rgba(83, 210, 189, 0.8);
  --color-hover-alpha: rgba(246, 208, 141, 0.8);
  --bg-footer: #212121;
  --font-title: "Telex", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  transition: background-color 0.5s;
}

h1,
h2,
h3,
h4,
h5,
nav a {
  font-family: var(--font-title);
}

h3 {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--color-link);
  cursor: pointer;
}

li {
  list-style: none;
  display: block;
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  width: 95%;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.flex-row-xl {
  flex-direction: column;
}

@keyframes toLeft {
  0% {
    transform: translateX(-100px);
  }
  30% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(10px);
  }
  30%, 70% {
    transform: translateX(10px);
  }
  20%, 60%, 100% {
    transform: translateX(0px);
  }
}
@keyframes toBottom {
  0% {
    transform: translateY(10px);
  }
  30%, 70% {
    transform: translateY(10px);
  }
  20%, 60%, 100% {
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuContentVisible {
  0% {
    top: -100%;
  }
  50% {
    top: -15%;
  }
  100% {
    top: 0%;
  }
}
@keyframes menuContentVisible-xl {
  0% {
    left: -100%;
  }
  50% {
    left: -15%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}
@keyframes borderHeader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes borderHeader-xl {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes menuCloseLine1 {
  0%, 60% {
    transform: translate(5px, 0px);
    width: 10%;
  }
  50%, 100% {
    width: 100%;
    transform: translate(8px, 9px);
  }
  51% {
    opacity: 0;
  }
}
@keyframes menuCloseLine2 {
  0%, 60% {
    width: 10%;
    transform: translate(10px, 15px);
  }
  50%, 100% {
    width: 100%;
    transform: translate(-7px, 7px);
  }
  51% {
    opacity: 0;
  }
}
@keyframes menuHamburguerLine {
  0% {
    width: 100%;
    margin-left: 0%;
  }
  50% {
    width: 10%;
    margin-left: 90%;
  }
  51% {
    opacity: 0;
  }
}
.btn {
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}
.btn span {
  position: relative;
  z-index: 10;
  color: var(--text-color);
  transition: color 0.75s;
}

.btn-secondary {
  border: 1px solid var(--color-hover);
}
.btn-secondary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  background-color: var(--color-hover);
  border-radius: 0.25rem;
  transition: transform 0.5s;
  z-index: 5;
}
.btn-secondary:hover::before {
  transform: translate(-50%, -50%) scale(200);
}
.btn-secondary:hover span {
  color: var(--bg-color);
}

.menu {
  padding: 1rem 0;
  width: 100%;
}
.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-hover-alpha);
  pointer-events: none;
  animation: borderHeader 1s linear;
}
.menu .logo {
  transition: transform 300ms;
  color: var(--text-color);
  animation: fadeIn 0.5s linear;
}
.menu .logo span {
  padding-left: 0.5rem;
}
.menu .logo:hover {
  transform: scale(1.1);
}
.menu .logo img {
  max-width: 32px;
}
.menu__hamburguer {
  animation: fadeIn 1s linear;
  order: 3;
}
.menu__hamburguer:hover span:first-child {
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.1s;
}
.menu__hamburguer:hover span:nth-child(2) {
  margin: 0.4rem 0;
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.2s;
}
.menu__hamburguer:hover span:last-child {
  animation: menuHamburguerLine 0.75s ease-in-out;
  animation-delay: 0.3s;
}
.menu__toggle {
  position: relative;
  width: 5rem;
  height: 35px;
  background: var(--color-link);
  border-radius: 50px;
}
.menu__toggle input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
}
.menu__toggle input:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  background: var(--bg-color);
  filter: invert(1);
  border-radius: 50px;
}
.menu__toggle input:checked:after {
  transform: translate(50px, -50%);
  opacity: 1;
}
.menu__toggle input:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translate(5px, -50%);
  background: var(--color-link);
  border-radius: 50px;
  transition: all 400ms;
  filter: contrast(60%);
  z-index: 5;
}
.menu__toggle i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--bg-color);
  pointer-events: none;
}
.menu__toggle i.fa-moon {
  right: 8px;
}
.menu__toggle i.fa-sun {
  left: 8px;
}
.menu__hamburguer, .menu__close {
  position: relative;
  width: 40px;
  height: 35px;
  padding: 0.2rem;
  cursor: pointer;
  overflow: hidden;
}
.menu__hamburguer::after, .menu__close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  pointer-events: none;
  background-color: var(--bg-color);
  clip-path: polygon(60% 0, 100% 0%, 40% 100%, 0% 100%);
  transform: translate(-100%, -30%);
}
.menu__hamburguer span, .menu__close span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  margin-top: 0.3rem;
  transition: all 200ms;
}
.menu__close .btn {
  margin-top: 9rem;
}
.menu__close span {
  margin-top: 0;
}
.menu__close span:first-child {
  rotate: 45deg;
  transform: translate(8px, 9px);
}
.menu__close span:last-child {
  rotate: -45deg;
  transform: translate(-7px, 7px);
}
.menu__close:hover span:first-child {
  animation: menuCloseLine1 0.75s ease-in-out;
}
.menu__close:hover span:last-child {
  animation: menuCloseLine2 0.75s ease-in-out;
  animation-delay: 0.1s;
}
.menu__content {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0%;
  background-color: var(--bg-footer);
  transition: top 0.5s;
  z-index: 1000;
}
.menu__content .logo {
  pointer-events: none;
}
.menu__content nav {
  text-align: center;
  margin-top: 1rem;
}
.menu__content nav a {
  font-size: 1.5rem;
  display: block;
  padding: 1.5rem;
}
.menu__content .menu__close,
.menu__content .logo span,
.menu__content nav li,
.menu__content .btn,
.menu__content .social-list li {
  opacity: 0;
}
.menu__content.visible {
  top: 0%;
  animation: menuContentVisible 0.5s linear;
}
.menu__content.visible .menu__close {
  animation: fadeIn 1.5s linear;
  opacity: 1;
}
.menu__content.visible .logo span {
  animation: fadeIn 2.5s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible nav li:first-child {
  animation: fadeIn 1.75s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible nav li:nth-child(2) {
  animation: fadeIn 2s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible nav li:nth-child(3) {
  animation: fadeIn 2.25s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible nav li:nth-child(4) {
  animation: fadeIn 2.5s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible nav li:last-child {
  animation: fadeIn 2.5s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible .btn {
  animation: fadeIn 2.75s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible .social-list li:first-child {
  animation: fadeIn 2.75s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible .social-list li:nth-child(2) {
  animation: fadeIn 3s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible .social-list li:nth-child(3) {
  animation: fadeIn 3.25s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__content.visible .social-list li:last-child {
  animation: fadeIn 3.5s linear, toLeft 1s linear;
  opacity: 1;
}
.menu__header, .menu__footer {
  height: 2rem;
  padding: 1rem 0;
  z-index: 100;
}
.menu nav {
  height: calc(100% - 6rem);
}
.menu nav a {
  position: relative;
  transition: color 300ms;
}
.menu nav a:hover {
  color: var(--color-hover);
}
.menu nav a:hover::after {
  width: 100%;
}
.menu nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0%;
  max-width: 8rem;
  transition: width 1s;
  background-color: var(--color-hover);
  transform: translate(-50%, -1rem);
}
.menu .social-list a {
  transition: all 300ms;
  padding: 0.5rem 0.75rem;
  display: block;
}
.menu .social-list a:hover {
  color: var(--color-hover);
  transform: scale(1.25);
}
.menu__toggle {
  animation: fadeIn 1.25s linear;
}
.menu__toggle span {
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 700;
  font-size: 0.9rem;
  width: 210px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  position: absolute;
  left: -50%;
  top: 150%;
  cursor: pointer;
  animation: toBottom 2s linear;
}
.menu__toggle span::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 35%;
  top: -90%;
  border-right: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid var(--text-color);
}
.menu__toggle span.hide {
  visibility: hidden;
}
.menu .btn-toggle {
  padding: 10px;
  margin-left: 30px;
  cursor: pointer;
  animation: fadeIn 1.5s linear;
}
.menu__colour-variations i {
  font-size: 1.75rem;
}
.menu__preset-colors {
  top: 40px;
  width: 95%;
  left: 0;
  color: #fff;
  background: #555;
  padding: 10px;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  visibility: hidden;
}
.menu__preset-colors.show {
  opacity: 1;
  visibility: visible;
}
.menu__preset-colors li {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}
.menu__preset-colors span {
  width: 50%;
  height: 20px;
  float: left;
  zoom: 1;
  border-radius: 2px 0px 0px 2px;
}

@media (min-width: 1200px) {
  .flex-column-xl {
    flex-direction: column;
    height: 100%;
  }

  .flex-row-xl {
    flex-direction: row;
  }

  .menu {
    width: 4rem;
    height: 100%;
    border-bottom: none;
  }
  .menu .btn-secondary {
    padding: 1rem 1.5rem;
  }
  .menu::before {
    top: 0;
    height: 100%;
    border-right: 1px solid var(--color-hover-alpha);
    border-bottom: none;
    animation: borderHeader-xl 1s linear;
  }
  .menu > .container {
    height: 100%;
  }
  .menu__hamburguer {
    padding: 0;
    order: 0;
  }
  .menu__content {
    left: -100%;
    top: 0%;
    transition: left 0.5s;
  }
  .menu__content.visible {
    left: 0%;
    animation: menuContentVisible-xl 0.5s linear;
  }
  .menu__content nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__content nav a {
    font-size: 2rem;
  }
  .menu nav a::after {
    max-width: 10rem;
    transition: width 0.5s;
  }
  .menu .social-list a {
    padding: 0 1rem;
    font-size: 1.25rem;
  }
  .menu__toggle {
    width: 35px;
    height: 4.5rem;
  }
  .menu__toggle input:before {
    width: 80%;
    height: 90%;
  }
  .menu__toggle input:checked:after {
    transform: translate(5px, 135%);
  }
  .menu__toggle input:after {
    top: 12%;
    transform: translate(5px, -12%);
  }
  .menu__toggle i {
    transform: translateX(0%);
  }
  .menu__toggle i.fa-moon {
    right: 8px;
    top: 2.75rem;
  }
  .menu__toggle i.fa-sun {
    left: 7px;
    top: 8px;
  }
  .menu__toggle span {
    left: 150%;
    top: 25%;
    animation: toRight 2s linear;
  }
  .menu__toggle span::after {
    left: -5%;
    top: 0%;
    border-right: 2rem solid var(--text-color);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 0;
  }
  .menu__toggle span.hide {
    visibility: hidden;
  }
  .menu .btn-toggle {
    display: block;
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .menu .settings {
    flex-basis: 10%;
  }
  .menu .menu__preset-colors {
    top: 0px;
    left: 100%;
    width: 140px;
    transition: all 500ms;
    visibility: hidden;
  }
  .menu .menu__preset-colors.show {
    opacity: 1;
    visibility: visible;
  }
  .menu__preset-colors.show {
    top: 0;
    left: 120%;
    width: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
