// Estilos de los botones

.btn{
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 10;
        color: var(--text-color);
        transition: color .75s;
    }
}
.btn-secondary{
    border: 1px solid var(--color-hover);
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 1px;
        background-color: var(--color-hover);
        border-radius: .25rem;
        transition: transform .5s;
        z-index: 5;
    }
    &:hover::before{
        transform: translate(-50%, -50%) scale(150);
    }
    &:hover span{
        color: var(--bg-color);
    }
}