// Estilos de los botones

.btn {
    padding: 1rem 1.25rem;
    border-radius: .25rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
    cursor: pointer;
    
    span, i {
        position: relative;
        z-index: 10;
        transition: color .75s;
        font-weight: bold;
        pointer-events: none;
        text-shadow: none;
    }
    i{
        padding-left: .5rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 1px;
        border-radius: .25rem;
        transition: transform .5s;
        z-index: 5;
    }

    &:hover::before {
        transform: translate(-50%, -50%) scale(350);
    }
}
.btn-banner{
    background-color: var(--bg-color);
    span, i{
        color: var(--text-color);
    }
    &::before{
        background-color: var(--color-link);
    }
}

.btn-primary{
    background-color: var(--color-link-alpha);
    span, i{
        color: var(--text-color);
    }
    &::before{
        background-color: var(--color-link);
    }
}

.btn-secondary {
    border: 1px solid var(--color-hover);
    span{
        color: var(--text-color);
    }

    &::before {
        background-color: var(--color-hover);
    }
    &:hover span {
        color: var(--bg-color);
    }
}

